/*////////////////////////////
@utility/opaciry
////////////////////////////*/
@use "sass:math";
@use '../foundation/variable' as *;
@use '../foundation/functions' as *;
@use '../foundation/mixins' as *;

@mixin _opacity($prefix: "") {
  .#{$prefix}u-opacity0 {opacity: 0;}
  .#{$prefix}u-opacity5 {opacity: 0.05;}
  .#{$prefix}u-opacity10 {opacity: 0.10;}
  .#{$prefix}u-opacity15 {opacity: 0.15;}
  .#{$prefix}u-opacity20 {opacity: 0.20;}
  .#{$prefix}u-opacity25 {opacity: 0.25;}
  .#{$prefix}u-opacity30 {opacity: 0.30;}
  .#{$prefix}u-opacity35 {opacity: 0.35;}
  .#{$prefix}u-opacity40 {opacity: 0.40;}
  .#{$prefix}u-opacity45 {opacity: 0.45;}
  .#{$prefix}u-opacity50 {opacity: 0.50;}
  .#{$prefix}u-opacity55 {opacity: 0.55;}
  .#{$prefix}u-opacity60 {opacity: 0.60;}
  .#{$prefix}u-opacity65 {opacity: 0.65;}
  .#{$prefix}u-opacity70 {opacity: 0.70;}
  .#{$prefix}u-opacity75 {opacity: 0.75;}
  .#{$prefix}u-opacity80 {opacity: 0.80;}
  .#{$prefix}u-opacity85 {opacity: 0.85;}
  .#{$prefix}u-opacity90 {opacity: 0.90;}
  .#{$prefix}u-opacity95 {opacity: 0.95;}
  .#{$prefix}u-opacity100 {opacity: 100;}
}

@include _opacity();

// @each $screen in $screen-list-min {
//   $prefix: str-slice($screen, 0, 1);

//   // $prefixBreak: "#{$prefix}\\:";
//   // @include break($screen) {
//   // }

//   $prefixOver: "#{to-upper-case($prefix)}\\:";
//   @include over($screen) {
//     @include _opacity($prefixOver);
//   }
// }
