/*////////////////////////////
@utility/transform
////////////////////////////*/
@use "sass:math";
@use '../foundation/variable' as *;
@use '../foundation/functions' as *;
@use '../foundation/mixins' as *;

@mixin _transform($prefix: "") {
  // transform
  .#{$prefix}u-rotate-0 {
    transform: rotate(0deg);
  }
  // transform
  .#{$prefix}u-rotate-90 {
    transform: rotate(90deg);
  }
  // transform
  .#{$prefix}u-rotate-180 {
    transform: rotate(180deg);
  }
  // transform
  .#{$prefix}u-translate-left-center {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
  .#{$prefix}u-translate-center-top {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  .#{$prefix}u-translate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

@include _transform();

@each $screen in $screen-list-min {
  $prefix: str-slice($screen, 0, 1);

  // $prefixBreak: "#{$prefix}\\:";
  // @include break($screen) {
  // }

  $prefixOver: "#{to-upper-case($prefix)}\\:";
  @include over($screen) {
    @include _transform($prefixOver);
  }
}
