/*////////////////////////////
@utility/u
////////////////////////////*/
@use "sass:math";
@use '../foundation/variable' as *;
@use '../foundation/functions' as *;
@use '../foundation/mixins' as *;

// media
@media screen {
  .u-screen-hidden {
    display: none !important;
  }
}
@media print {
  .u-print-hidden {
    display: none !important;
  }
}

// 子を持たない要素（空要素）
.u-empty:empty {
  display: none !important;
}


@mixin _utility($prefix: "") {
  // hidden
  .#{$prefix}u-hidden {
    display: none !important;
  }
}

@include _utility;

@each $screen in $screen-list-min {
  $prefix: str-slice($screen, 0, 1);
  $prefixStr: "#{$prefix}\\:";
  @include break($screen) {
    @include _utility("#{$prefix}\\:");
  }
  @include over($screen) {
    @include _utility("#{to-upper-case($prefix)}\\:");
  }
}
