/*////////////////////////////
@utility/vertical
////////////////////////////*/
@use "sass:math";
@use '../foundation/variable' as *;
@use '../foundation/functions' as *;
@use '../foundation/mixins' as *;


// vertical-align
.u-align-top {
  vertical-align: top;
}
.u-align-middle {
  vertical-align: middle;
}
.u-align-bottom {
  vertical-align: bottom;
}
.u-align-baseline {
  vertical-align: baseline;
}
